<div class="space-y-6">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold text-gray-800">Directorio de Empleados</h1>
    <button
      class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg font-medium transition-colors"
    >
      + Nuevo Empleado
    </button>
  </div>

  <div
    class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden"
  >
    <app-employee-table
      [data]="employees()"
      (onDelete)="handleDelete($event)"
      (onEdit)="handleEdit($event)"
    />
  </div>
</div>
